<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-discipline-heading" jhiTranslate="assistantCollaboratorApp.discipline.home.createOrEditLabel">Create or edit a Discipline</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="assistantCollaboratorApp.discipline.code" for="field_code">Code</label>
                    <input type="text" class="form-control" name="code" id="field_code"
                           formControlName="code"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="assistantCollaboratorApp.discipline.department" for="field_department">Department</label>
                    <input type="text" class="form-control" name="department" id="field_department"
                           formControlName="department"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="assistantCollaboratorApp.discipline.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                           formControlName="name"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="assistantCollaboratorApp.discipline.hoursForLecture" for="field_hoursForLecture">Hours For Lecture</label>
                    <input type="number" class="form-control" name="hoursForLecture" id="field_hoursForLecture"
                           formControlName="hoursForLecture"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="assistantCollaboratorApp.discipline.hoursForWorkshop" for="field_hoursForWorkshop">Hours For Workshop</label>
                    <input type="number" class="form-control" name="hoursForWorkshop" id="field_hoursForWorkshop"
                           formControlName="hoursForWorkshop"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="assistantCollaboratorApp.discipline.hoursForExercise" for="field_hoursForExercise">Hours For Exercise</label>
                    <input type="number" class="form-control" name="hoursForExercise" id="field_hoursForExercise"
                           formControlName="hoursForExercise"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="assistantCollaboratorApp.discipline.semester" for="field_semester">Semester</label>
                    <select class="form-control" name="semester" formControlName="semester" id="field_semester">
                        <option value="SUMMER">{{ 'assistantCollaboratorApp.Semester.SUMMER' | translate }}</option>
                        <option value="WINTER">{{ 'assistantCollaboratorApp.Semester.WINTER' | translate }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="assistantCollaboratorApp.discipline.numberOfStudents" for="field_numberOfStudents">Number Of Students</label>
                    <input type="number" class="form-control" name="numberOfStudents" id="field_numberOfStudents"
                           formControlName="numberOfStudents"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="assistantCollaboratorApp.discipline.incomingTest" for="field_incomingTest">Incoming Test</label>
                    <input type="checkbox" class="form-control" name="incomingTest" id="field_incomingTest"
                           formControlName="incomingTest"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="assistantCollaboratorApp.discipline.type" for="field_type">Type</label>
                    <select class="form-control" id="field_type" name="type" formControlName="type">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="disciplineTypeOption.id === editForm.get('type')!.value?.id ? editForm.get('type')!.value : disciplineTypeOption" *ngFor="let disciplineTypeOption of types; trackBy: trackById">{{ disciplineTypeOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label jhiTranslate="assistantCollaboratorApp.discipline.lectos" for="field_lectos">Lectos</label>
                    <select class="form-control" id="field_lectos" multiple name="lectos" formControlName="lectos">
                        <option [ngValue]="getSelected(editForm.get('lectos')!.value, identityOption)" *ngFor="let identityOption of identities; trackBy: trackById">{{ identityOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
