<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="discipline">
            <h2><span jhiTranslate="assistantCollaboratorApp.discipline.detail.title">Discipline</span> {{ discipline.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="assistantCollaboratorApp.discipline.description">Description</span></dt>
                <dd>
                    <span>{{ discipline.description }}</span>
                </dd>
                <dt><span jhiTranslate="assistantCollaboratorApp.discipline.disciplineType">Discipline Type</span></dt>
                <dd>
                    <span>{{ discipline.disciplineType }}</span>
                </dd>
                <dt><span jhiTranslate="assistantCollaboratorApp.discipline.disciplineRecord">Discipline Record</span></dt>
                <dd>
                    <div *ngIf="discipline.disciplineRecord">
                        <a [routerLink]="['/discipline-record', discipline.disciplineRecord?.id, 'view']">{{ discipline.disciplineRecord?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/discipline', discipline.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
