<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-discipline-heading" jhiTranslate="assistantCollaboratorApp.discipline.home.createOrEditLabel">Create or edit a Discipline</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="assistantCollaboratorApp.discipline.description" for="field_description">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                           formControlName="description"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="assistantCollaboratorApp.discipline.disciplineType" for="field_disciplineType">Discipline Type</label>
                    <input type="text" class="form-control" name="disciplineType" id="field_disciplineType"
                           formControlName="disciplineType"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="assistantCollaboratorApp.discipline.disciplineRecord" for="field_disciplineRecord">Discipline Record</label>
                    <select class="form-control" id="field_disciplineRecord" name="disciplineRecord" formControlName="disciplineRecord">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="disciplineRecordOption.id === editForm.get('disciplineRecord')!.value?.id ? editForm.get('disciplineRecord')!.value : disciplineRecordOption" *ngFor="let disciplineRecordOption of disciplinerecords; trackBy: trackById">{{ disciplineRecordOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
